In [42]:
from datetime import date, timedelta
import calendar as ca
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
import lightgbm as lgb
print('Loading Data')
import os
os.chdir('/Users/apple/Desktop/NewA/kaggle/')
df_train = pd.read_csv('lgb_6wks.csv',header =0 , sep =",")

Loading Data

In [44]:
df_train[df_train==date(2017,8,17)]

         id  unit_sales
0       NaN         NaN
1       NaN         NaN
2       NaN         NaN
3       NaN         NaN
4       NaN         NaN
5       NaN         NaN
6       NaN         NaN
7       NaN         NaN
8       NaN         NaN
9       NaN         NaN
10      NaN         NaN
11      NaN         NaN
12      NaN         NaN
13      NaN         NaN
14      NaN         NaN
15      NaN         NaN
16      NaN         NaN
17      NaN         NaN
18      NaN         NaN
19      NaN         NaN
20      NaN         NaN
21      NaN         NaN
22      NaN         NaN
23      NaN         NaN
24      NaN         NaN
25      NaN         NaN
26      NaN         NaN
27      NaN         NaN
28      NaN         NaN
29      NaN         NaN
...      ..         ...
3370434 NaN         NaN
3370435 NaN         NaN
3370436 NaN         NaN
3370437 NaN         NaN
3370438 NaN         NaN
3370439 NaN         NaN
3370440 NaN         NaN
3370441 NaN         NaN
3370442 NaN         NaN
3370443 NaN         NaN
3370444 NaN         NaN
3370445 NaN         NaN
3370446 NaN         NaN
3370447 NaN         NaN
3370448 NaN         NaN
3370449 NaN         NaN
3370450 NaN         NaN
3370451 NaN         NaN
3370452 NaN         NaN
3370453 NaN         NaN
3370454 NaN         NaN
3370455 NaN         NaN
3370456 NaN         NaN
3370457 NaN         NaN
3370458 NaN         NaN
3370459 NaN         NaN
3370460 NaN         NaN
3370461 NaN         NaN
3370462 NaN         NaN
3370463 NaN         NaN

[3370464 rows x 2 columns]

In [36]:
df_train.iloc[3159810:,1] = 0
df_train.iloc[0:,1] = 0

In [38]:
print(df_train.iloc[3159810])
print(df_train.iloc[3222222])
print(df_train.iloc[3370462])

id            128656850.0
unit_sales            0.0
Name: 3159810, dtype: float64
id            128719262.0
unit_sales            0.0
Name: 3222222, dtype: float64
id            128867502.0
unit_sales            0.0
Name: 3370462, dtype: float64

In [39]:
df_train.to_csv('lgb_0.csv',float_format='%.4f', index=None)